.header_name{
  padding: 20px 10px 10px 0;
  border-bottom: 2px solid rgb(99, 99, 99);
}
.main button{
  margin-top: 15px;
}
.main .col{
  margin: 20px 0;
}
.rule_text{
  font-size: 20px;
}
.main label{
  font-size: 20px;
}